html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    background-image: url('../images/background.jpg');
}
header, footer {
    background-color: #9e9d24;
    text-align: center;
    color: #f0f4c3;
    font-family: 'Rowdies', cursive;
    
}
header {
    display: flex;
    flex-direction: column;
    padding: 30px;
    
}
.logo{
    display: flex;
    justify-content: center;
}
header img {
    width: 100px;
}

#client_search {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
#client_search input {
    margin-left: 10px;
}
#client_results {
    margin-top: 20px;
    margin-left: 38%;
    width: 25%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color:#e9d786;
}
#rental_form {
    margin-left: 25%;
    margin-bottom: 20px;
    width: 50%;
    background-color:#f0f4c3;
    border-radius: 10px;

}
#rental_form h2 {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

#rental_form div{
    margin-left: 25%;
}

#rental_form div label{
    display: block;
    
}
#submit_form {
    
    margin: 20px;
}

#rental_display {
    width: 50%;
    margin-left: 25%;
    width: 50%;
    background-color:#fff9c4;
    border-radius: 10px;
}
#rental_display div {
    margin-left: 30%;
    margin-bottom: 20px;
}
#rental_display h4:nth-child(1) {
    padding-top: 20px;
}

#rental_display div:nth-child(2) {
    padding-bottom: 20px;
}

button {
    
    background-color: #1b0000;
    color: white;
    padding: 5px;
    border-radius: 10px;
    transition: background-color 500ms ease-in-out;
    font-family: 'PT Sans', sans-serif;
}

button:hover {
    background-color: #b4a647;
}

footer {
    padding: 20px;
}